<!DOCTYPE html>
<html lang="en">

<title>MoneyManagement</title>
<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>
</head>

  <div style="padding:20px;margin-top:30px;background-color:#ff9d00;height:1500px;text-align:center">
    <fieldset>


<h1 > Money Management </h1>
<img src=/static/foo100.png alt='image not available ' >
<br>
<br>
<h3>{{a}}</h3>
<h3>{{b}}</h3>
<h3>{{c}}</h3>
<br>
<br>
<br>
<br>
<h2><b>How rich spend there money:</b></h2>
<h3>By analysing how the rich save money you can learn as well and become more financially free</h3>
<h6>Here is a chart of how the rich spend money </h6>
<img src=/static/rich.png alt='image not available ' >

<h3>As you can see the rich spend most of their money investing in education
    They then can apply their education in the real world. One of the least amount
    of money spent is on clothing as it is non-essential. If you can cut your 
    spending in half and utilize that for other things that can bring finacial status
    up then you closer to being free.

  </h3>
  <h2>Investing(quickest way to get rich)</h2>
<h3>The quickest way to get rich is by investing into assets like stocks and real estate.
  Although it may seem risky the rewards are very high some of the best companies are Apple
  and Amazon as they give the best return. They are usually expensive so you should try more 
  cheap companies like Nokia.
</h3>
<h2>Instagram motivation</h2>
<h3>To get extra advice on investing you should visit instagram accounts that
  give tips on how to turn youself into a living success.
</h3>
<h2>Education</h2>
<h3>Weather you are 20 or 50, never stop learning, the best way to grow is to water 
  your brain with knowledge which can help you in the real world. A very good
  book is Rich Dad Poor Dad
</h3> 


</fieldset> 
</html>